body {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.4s;
    background-color: greenyellow;
}

.btn:hover {
    transform: translateY(-10%) translateX(1%);
    /* border-bottom: 2px solid green; */
    box-shadow: -2px 2px 1px green;
    background-color: rgb(0, 50, 0);
    color: greenyellow;
}