#c1 {
    background-color: orangered;
}

#c2 {
    background-color: goldenrod;
}

#c3 {
    background-color: greenyellow;
}

#c4 {
    background-color: pink;
}

#c5 {
    background-color: blueviolet;
}

#c6 {
    background-color: aquamarine;
}
